html {
    height: 100%;    
}

body {
    color: #40514E;
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

footer {
    background-color:#66BFBF;
    padding: 50px 0 20px;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0;
    font-size: 5.625rem;
    color: #66BFBF; 
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

hr {
    width: 5%;
    border: none;
    border-top: 6px dotted #EAF6F6;
    margin: 100px auto;
}

.header {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

.topCloud {
    position: absolute;
    right: 300px; 
    top: 40px;
}

.pro {
    text-decoration: underline;
}

.bottomCloud {
    position: absolute;
    left: 250px;
    bottom: 300px; 
}

.main {
    margin: 100px 0;
}

.mypic {
    width: 180px;
}

.intro {
    width: 40%;
    margin: auto;
}

.skill {
    display: inline-block;
    width: 50%;
    margin: 100px auto; 
    text-align: left;
    line-height: 2;
}

.skills img {
    width: 25%;
    margin: 30px;
}

.dataScience, .science {
    float: left;
}

.coding {
    float: right;
}

.contactMessage {
    margin: 40px auto 60px;
    width: 40%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.copyright {
    color: white;
    font-size: .75rem;
    padding: 20px 0;
}